body {
    font-family: 'Roboto', sans-serif;
}

.wrapper {
    width: 1280px;
    margin: 0 auto;
}

.wrapper_header {
    margin-top: 63px;
}

span {
    font-weight: 400;
    font-size: 80px;
    line-height: 94px;
    color: #000000;
}

span.logo_color {
    color:#4BCAFF;
}

.nav_links_header {
    display: flex;
    justify-content: center;
    background-color: #35444F;
    margin-top: 40px
}

a {
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
}

.nav_link {
    padding: 24px 35px 18px 35px;
    border-right: 1px solid #FFFFFF;
}

.nav_link:first-child {
    border-left: 1px solid #FFFFFF;
}

.nav_links_header a:hover {
    background: #222F3A;
}
.nav_links_header a:active {
    color: #4BCAFF;
}

/* Header is over */

.wrapper_main {
    display: flex;
    justify-content: space-between;
    margin-top: 48px;
}

.sidebar_menu {
    width: 344px;
    border: 1px solid #000000;
    overflow: hidden;
    /* border-color:rgba(0, 0, 0, 0.1); */ /* в макете увидел у бордера, не знаю нужен ли... */
}

.sidebar_menu li a {
    font-size: 27px;
    line-height: 27px;
    color: #485863;
}

.sidebar_menu li:hover {
    padding-left: 70px;
    background-color: #DBDBDB;
    cursor: pointer;
}

.sidebar_menu li a:hover {
    color: #000000;
}

.sidebar_item {
    padding: 26px 0 26px 44px;
}

.sidebar_item:last-child {
    padding-bottom: 30px;
}

.box_image {
    width: 885px;
    height: 529px;
    display: flex;
    justify-content: center;
    align-items: center;  
    border: 1px solid #000000;
    /* border-color:rgba(0, 0, 0, 0.1); */ /* в макете увидел у бордера, не знаю нужен ли... */
    overflow: hidden;
}

img:hover {
    transform: scale(1.09);
    transition: 0.3s;
}

.wrapper_content {
    display: flex;
    justify-content: flex-end;
    margin-top: 37px;
}

.content_width {
    width: 885px;
}

p {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #2C2C2C;
}

p.text_indent {
    margin-top: 34px;
}

/* Main is over */

.wrapper_footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 51px;
    margin-bottom: 30px; 
    padding: 20px 40px 21px 40px;
    background: rgba(99, 105, 110, 0.48);
}

.nav_link_footer {
    margin-right: 29px;
}

.nav_link_footer:last-child {
    margin-right: 0;
}

.nav_links_footer a {
    font-size: 28px;
    color: #0C1927;
    position: relative;
    /* background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;  
    background-size: 0% 2px;
    transition: background-size .3s;
    padding-bottom: 10px ; */  /* один из вариантов добавления подчеркивания */
}

.nav_links_footer a:hover {
    color: #3181A6;
    /* background-size: 100% 2px; */ /* один из вариантов добавления подчеркивания */
}

.nav_links_footer a::before {
    content: '';
	position: absolute;
	left: 0; bottom: -13px;
	width: 0;
	height: 1.1px;
	background-color: #3181A6;
    /* transition: width 0.35s; */ /* один из вариантов добавления подчеркивания */
}

.nav_links_footer a:hover::before {
    width: 100%;
} 

.copyright p {
    font-size: 24px;
    line-height: 24px;
    color: #010101;
}

/* Footer is over */